[submodule "lib/dlms-hdlc"]
	path = lib/dlms-hdlc
	url = git@github.com:gvtret/dlms-hdlc.git
[submodule "lib/dlms-llc"]
	path = lib/dlms-llc
	url = git@github.com:gvtret/dlms-llc.git
[submodule "lib/dlms-wrapper"]
	path = lib/dlms-wrapper
	url = git@github.com:gvtret/dlms-wrapper.git
