[submodule "lib/dlms-hdlc"]
	path = lib/dlms-hdlc
	url = git@github.com:gvtret/dlms-hdlc.git
[submodule "lib/dlms-llc"]
	path = lib/dlms-llc
	url = git@github.com:gvtret/dlms-llc.git
[submodule "lib/dlms-wrapper"]
	path = lib/dlms-wrapper
	url = git@github.com:gvtret/dlms-wrapper.git
[submodule "lib/dlms-apdu"]
	path = lib/dlms-apdu
	url = git@github.com:gvtret/dlms-apdu.git
[submodule "lib/dlms-transport"]
	path = lib/dlms-transport
	url = git@github.com:gvtret/dlms-transport.git
[submodule "lib/dlms-profile"]
	path = lib/dlms-profile
	url = git@github.com:gvtret/dlms-profile.git
[submodule "lib/dlms-association"]
	path = lib/dlms-association
	url = git@github.com:gvtret/dlms-association.git
[submodule "lib/dlms-xdlms"]
	path = lib/dlms-xdlms
	url = git@github.com:gvtret/dlms-xdlms.git
[submodule "lib/dlms-cosem"]
	path = lib/dlms-cosem
	url = git@github.com:gvtret/dlms-cosem.git
